body{
    background-image: url(../img/wvebckgrnd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color:maroon;
}

h1{
    color: goldenrod;
    font-style: italic;
    font-weight: bolder;
}

#intro h2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: solid;
}

#intro p{
    color: maroon;
    font-style: initial;
}

#nav strong,b{
    color:rgb(214, 57, 0);
    font-family: serif;

}

#nav a{
    color:rgb(91, 57, 214) !important;
}

a{
    color: blue;
}

a:hover{
    color: aliceblue;
}

a:active{
    color: magenta;
}


#blogs h2{
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique ;
}

#blogs h3{
    color:sandybrown;
    font-style: initial;
}
#blogs p{
    color: rgb(228, 82, 82);
}

#contact{
    border-top: 3px dashed gold;
    border-bottom: 3px dashed gold;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: rgb(216, 144, 49);
}

#contact h2{
    color:white;
    text-decoration: solid;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid brown;
    width: 50%;
    margin: auto;
    margin-top: 4px;
    background-color: peru;
    text-align: center;
}

#contact-details{
    border: 2px solid brown;
    width: 46%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

#contact-method{    
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    margin-top: 25px;

    white-space: nowrap;
}
#contact li {
    color: rgb(216, 215, 215);
    font-style: italic;
    display: inline-block;
    border: 2px solid brown;
    width: 25%;
    background-color:rgb(196, 133, 51);

}


#header h1{
    display: inline-block;
    width: 75%;
}


#header input[type="button"]{
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    padding:2px 2px 2px 2px;
    font-size: medium;
    background-color: rgb(173, 28, 28);
    cursor: pointer;
   
}

#outer-div{
    text-align: initial;
    width: 100%;
    border-top: 3px dashed gold;
    border-bottom: 3px dashed gold;
    background-color: rgb(223, 145, 68);
     
}